.filters__outer{
    background-color: #F2F2F2;
    margin-top: 20px;
    grid-area: 'filters';
}
.filters__inner{
    height: 30px;
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-columns: 31% 31% 31% auto;
    grid-gap: 10px;
}
select {
    padding-left: 5px;
    background-color: white;
    border: 1px solid #e1e1e1;
}
input {
    padding-left: 10px;
    border: 1px solid #e1e1e1;
}
button{
    background-color: #29ABE2;
    border: 0px;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

@media only screen and (max-width: 600px)  {
    .filters__inner {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-left: 50px;
        margin-right: 50px;
        height: 100%;
    }
  }
