.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.grid-item {
  position: relative;
  box-sizing: border-box;
}

.grid-item::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.grid-item .content{
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}
.grid-item img {
    padding-left: 0%;
    max-width: 100%;
}
