*{
    font-family: 'Muli', sans-serif;
}
input{
    font-family:  'Muli', sans-serif;
}
.app_layout{
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-columns: 6fr 4fr;
}
.map_outer{
    height: 100%;
}
.map_inner{
    position: fixed;
    width: 100%;
    height: 90%;
    grid-area: map;
}
.nav_bar__outer{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    z-index: 2;
    }

.nav_bar__inner{
    max-height:70px;
    height: 70px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: white;
}
.nav_bar__inner img {
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.left_outer{
    background-color: #F2F2F2;
    height: 860px;
}
.map_container{
    height: 100%;
    width: 40%;
}


.show_map_button{
    display: none;
}
@media only screen and (max-width: 600px)  {
    .app_layout{
        grid-template-columns: 1fr;
    }
    .map_outer{
        position: fixed;
    }
    .map_container{
        width: 100%;
    }
    .show_map_button{
        position: fixed;
        bottom: 0;
        height: 10%;
        width: 100%;
        display: inline;
    }
    .left_outer{
        height: auto !important;
        padding-bottom: 100px;
    }
}

.x {
    padding-top: 16px;
    display: block;
    width: 32px;
    height: 16px;
    float: right;
}
.x:before {
    content: "";
    display: block;
    margin: auto;
    border-top: 1px solid rgba(0,0,0,0.5);
    transform: rotate(45deg);
    transform-origin: center;
}
.x:after {
    content: "";
    display: block;
    margin: auto;
    border-top: 1px solid rgba(0,0,0,0.5);
    transform: rotate(-45deg);
    transform-origin: center;
}
.x_double{
    width: 64px;
    height: 32px;
    padding-top: 32px;
}

.hidden{
    display: none;
}