.location_list{
  background-color: #F2F2F2;
  z-index: 1;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-area: list;
}

@media only screen and (max-width: 600px)  {
  .grid-container {
    margin-left: 0px;
    margin-right: 0px;
    grid-row-gap: 0px;
  }
}



.grid-item {
  height: 350px;
  position: relative;
  box-sizing: border-box;
  content: '';
  display: block;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #e1e1e1;}

.grid-item .content{
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}
.grid-item img {
    padding-left: 0%;
    max-width: 100%;
}

.slider__location_list{
  height: 50%;
  border-bottom:  1px solid #cccccc
}