.action-buttons {
    position: fixed;
    top: 10px;
    right: 1%;
    width: 500px;
    z-index: 4;
}

.pin_form input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: transparent;
}
.pin_form input, label{
    display: block;
    margin-bottom: 10px;
}
.pin_form input[type=file]{
    display: none;
}
.pin_form{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-family: Georgia, "Times New Roman", Times, serif;
    background: f2f2f2;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
}

.pin_form input[type=text]:focus,
{
    border-bottom: 1px dashed black;
}

.pin_form button {
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.pin_form input[type=submit]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.close{
    float: right;
}