/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider{
  height: 50%;
  border-bottom:  1px solid #cccccc
}
.img_wrapper{
  height: 100%;
  width: 100%;
}
.slider img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
