/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 50%;
  transform:translateY(-50%);
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
}

.slider{
  position: relative;
}
.img_wrapper{
  height: 100%;
  width: 100%;
}

.slider img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
}
